html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

a {
    color:inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: '', sans-serif;
}

/* global */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.button-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button {
    background-color: bisque;
}

.flex {
    display: flex;
}

.container {
    width: 600px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
}

.section-offset {
    padding-bottom: 70px;
    align-items: center;
}

.section {
    margin-bottom: 70px;
}

/* header */
.header {
    align-items: center; 
}

.header-logo {
    margin-right: 40px;
}

.header-phone {
    margin-right: auto;
}

.navigation-list {
    margin-right: auto;
}

.navigation-list-items:not(:last-child) {
    margin-right: 45px;
}

.section-one {
    padding: 100px 0;
}

.section-one-list {
    flex-wrap: wrap;
}

.section-one-item {
    width: 573px;
    margin: 0;
}

.section-three-list {
    flex-wrap: wrap;
}

.section-three-item {
    width: 573px;
    margin-bottom: 23px;
}

.section-three-item:not(:nth-child(2n)) {
    margin-right: 23px;
}

.section-three-item-image {
    object-fit: cover;
    margin-bottom: 25px;
}

.section-three-item-name {
    margin: 0;
    padding-right: 10px;
}

.section-four-list {
    flex-wrap: wrap;
}

.section-four-item {
    width: 275px;
    padding-right: 8px;
    margin-bottom: 23px;
}

.section-four-item:not(:nth-child(4n)) {
    margin-right: 15px;
}

.section-five-list {
    flex-wrap: wrap;
}

.section-five-item {
    width: 374px;
    margin-bottom: 23px;
}

.section-five-item:not(:nth-child(3n)) {
    padding-right: 23px;
}

.section-five-item-image {
    margin-bottom: 36px;
}

.section-five-item-price {
    margin-bottom: 3px;
    margin-bottom: 16px;
}

.section-five-item-name {
    display: block;
    margin-bottom: 16px;
}

.section-five-item-place {
    display: block;
    margin-bottom: 16px;
}